<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
 
 	<context:component-scan base-package="org.sergio.*" />
   
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
    	<property name="driverClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
    	<property name="url" value="jdbc:mysql://localhost:3306/ct" />
    	<property name="username" value="root" />
    	<property name="password" value="root" />
   	</bean>
   	
   	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="true"/>
        <property name="database" value="MYSQL"/>
    </bean>
 
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="persistence.xml" />
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <!-- spring based scanning for entity classes-->
		<property name="packagesToScan" value="org.sergio.jtaSpringProject.entities" />
	</bean>
	
	<jpa:repositories base-package="org.sergio.jtaSpringProject.repositories" />
	
	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
        id="transactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <tx:annotation-driven />
    
    <!-- JTA & Narayana >
	
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager">
			<bean class="com.arjuna.ats.internal.jta.transaction.arjunacore.TransactionManagerImple" />
		</property>
		<property name="userTransaction">
			<bean class="com.arjuna.ats.internal.jta.transaction.arjunacore.UserTransactionImple" />
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven-->
	

</beans>
